<div class="row">

  <div class="large-12 columns">
    <h1><%= @profile.name %> <small><%= @profile.age %> anos</small></h1>
  </div>

</div>

<div class="row">

  <div class="large-6 columns">
    <h3><%= @profile.course %> em <%= @profile.university %></h3>
  </div>
  <div class="large-6 columns">
    <h3><%= @profile.city %> / <%= @profile.country %></h3>
  </div>

</div>

<div class="row">

  <div class="large-12 columns"><hr></div>

</div>

<div class="row">

  <div class="large-4 columns">
    <h5>Dicas sobre passagem e visto:</h5>
    <p><%= @profile.visa_tip %></p>
  </div>
  <div class="large-4 columns">
    <h5>Dicas de moradia e segurança:</h5>
    <p><%= @profile.housing_tip %></p>
  </div>
  <div class="large-4 columns">
    <h5>Dicas de transporte:</h5>
    <p><%= @profile.transportation_tip %></p>
  </div>
  <div class="large-4 columns">
    <h5>Dicas de alimentação e compras:</h5>
    <p><%= @profile.feeding_tip %></p>
  </div>
  <div class="large-4 columns">
    <h5>Dicas culturais:</h5>
    <p><%= @profile.cultural_tip %></p>
  </div>
  <div class="large-4 columns">
    <h5>Demais dicas e sugestões:</h5>
    <p><%= @profile.other_tip %></p>
  </div>
</div>

<a class="close-reveal-modal">&#215;</a>
