<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Course:</strong>
  <%= @profile.course %>
</p>

<p>
  <strong>University:</strong>
  <%= @profile.university %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Transportation tip:</strong>
  <%= @profile.transportation_tip %>
</p>

<p>
  <strong>Housing tip:</strong>
  <%= @profile.housing_tip %>
</p>

<p>
  <strong>Visa tip:</strong>
  <%= @profile.visa_tip %>
</p>

<p>
  <strong>Cultural tip:</strong>
  <%= @profile.cultural_tip %>
</p>

<p>
  <strong>Feeding tip:</strong>
  <%= @profile.feeding_tip %>
</p>

<p>
  <strong>Other tip:</strong>
  <%= @profile.other_tip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @profile.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @profile.longitude %>
</p>

<p>
  <strong>Active:</strong>
  <%= @profile.active %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
