<div id="main_map" class="dark"></div>

<!-- Modals -->
<%= render partial: 'content/about' %>
<%= render partial: 'content/links' %>
<%= render partial: 'content/how' %>
<%= render partial: 'content/join' %>
<%= render partial: 'content/profile' %>

<script type="text/javascript">
  var map = L.mapbox.map('main_map', 'livia.map-zbsobfzo').setView([-40, -40], 3);
</script>
